playground.py 
trapi/key
trapi/playground.py
trapi/.venv
key

__pycache__
trapi/__pycache__

myTimeline.json
myPortfolioWithStocks.json
myPortfolio.json
allStocks.json
stock_details/
environment.py
myPositions.csv
myTransactions.csv
