playground.py 
trapi/key
trapi/playground.py
trapi/.venv
key

# Python
__pycache__
trapi/__pycache__
.venv/

# IDE
.idea/
.vscode/

myTimeline.json
myPortfolioWithStocks.json
myPortfolio.json
allStocks.json
stock_details/
environment.py
myPositions.csv
myTransactions.csv

_docDownloads/

# Consider removing if U want to keep all outputs
_storedOutputs/